.setting {
  display: flex;
}

.settingWrapper {
  flex: 9;
  padding: 20px 80px;
}

.settingTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settingUpdateTitle {
  font-size: 30px;
  margin-bottom: 20px;
  color: lightcoral;
}

.settingDeleteTitle {
  color: red;
  font-size: 12px;
  cursor: pointer;
}

.settingForm {
  display: flex;
  flex-direction: column;
}

.settingProfilePicture {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.settingProfilePicture > img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  object-fit: cover;
}

.settingProfilePictureIcon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightcoral;
  margin-left: 10px;
  cursor: pointer;
}

.settingForm > label {
  font-size: 20px;
  margin-top: 20px;
}

.settingForm > input {
  color: gray;
  margin: 10px 0;
  height: 30px;
  border: none;
  border-bottom: 1px solid lightgray;
}

.settingSubmit {
  width: 150px;
  align-self: center;
  border: none;
  border-radius: 10px;
  background-color: teal;
  color: white;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
  font-weight: 500;
}
